<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BALL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,164}</string>
                <key>spriteSourceSize</key>
                <string>{441,164}</string>
                <key>textureRect</key>
                <string>{{1422,979},{441,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Circle 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1037,1417},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Circle 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1295,1422},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1588,1353},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ESCAPE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{659,167}</string>
                <key>spriteSourceSize</key>
                <string>{659,167}</string>
                <key>textureRect</key>
                <string>{{1045,459},{659,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 11 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,111}</string>
                <key>spriteSourceSize</key>
                <string>{87,111}</string>
                <key>textureRect</key>
                <string>{{1201,1675},{87,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,76}</string>
                <key>spriteSourceSize</key>
                <string>{102,76}</string>
                <key>textureRect</key>
                <string>{{1846,1530},{102,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 15 copy 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,40}</string>
                <key>spriteSourceSize</key>
                <string>{417,40}</string>
                <key>textureRect</key>
                <string>{{465,1037},{417,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Layer 15 copy 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,33}</string>
                <key>spriteSourceSize</key>
                <string>{185,33}</string>
                <key>textureRect</key>
                <string>{{1553,1422},{185,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Layer 16 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,65}</string>
                <key>textureRect</key>
                <string>{{1706,561},{48,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,254}</string>
                <key>spriteSourceSize</key>
                <string>{311,254}</string>
                <key>textureRect</key>
                <string>{{1588,1040},{311,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Layer 19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1392,1680},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,92}</string>
                <key>spriteSourceSize</key>
                <string>{95,92}</string>
                <key>textureRect</key>
                <string>{{443,1732},{95,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,104}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{1290,1680},{100,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,91}</string>
                <key>spriteSourceSize</key>
                <string>{96,91}</string>
                <key>textureRect</key>
                <string>{{540,1732},{96,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{1706,459},{100,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Outline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{531,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,458}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1037},{462,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robo Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{504,522}</string>
                <key>spriteSourceSize</key>
                <string>{522,522}</string>
                <key>textureRect</key>
                <string>{{1,513},{504,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vector Smart Obje33ct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,162}</string>
                <key>spriteSourceSize</key>
                <string>{159,162}</string>
                <key>textureRect</key>
                <string>{{1037,1675},{159,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vector Smart Object copy 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,226}</string>
                <key>spriteSourceSize</key>
                <string>{279,226}</string>
                <key>textureRect</key>
                <string>{{809,1431},{279,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vector Smart Object copy 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,129}</string>
                <key>spriteSourceSize</key>
                <string>{355,129}</string>
                <key>textureRect</key>
                <string>{{1800,655},{355,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vector Smart Object copy 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,197}</string>
                <key>spriteSourceSize</key>
                <string>{194,197}</string>
                <key>textureRect</key>
                <string>{{1800,459},{194,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vector Smart Object copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{623,113}</string>
                <key>spriteSourceSize</key>
                <string>{623,113}</string>
                <key>textureRect</key>
                <string>{{969,864},{623,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vector Smart Object copy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{623,234}</string>
                <key>spriteSourceSize</key>
                <string>{623,234}</string>
                <key>textureRect</key>
                <string>{{969,628},{623,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vector Smart Object56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,440}</string>
                <key>spriteSourceSize</key>
                <string>{356,440}</string>
                <key>textureRect</key>
                <string>{{1,1497},{356,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buicoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,130}</string>
                <key>spriteSourceSize</key>
                <string>{51,130}</string>
                <key>textureRect</key>
                <string>{{1931,655},{51,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,456}</string>
                <key>spriteSourceSize</key>
                <string>{460,456}</string>
                <key>textureRect</key>
                <string>{{1510,1},{460,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,136}</string>
                <key>spriteSourceSize</key>
                <string>{148,136}</string>
                <key>textureRect</key>
                <string>{{1844,1196},{148,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>footBall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,299}</string>
                <key>spriteSourceSize</key>
                <string>{300,299}</string>
                <key>textureRect</key>
                <string>{{507,1431},{300,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>homeCir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,456}</string>
                <key>spriteSourceSize</key>
                <string>{460,456}</string>
                <key>textureRect</key>
                <string>{{507,515},{460,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kkVector Smart Object.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,204}</string>
                <key>spriteSourceSize</key>
                <string>{410,204}</string>
                <key>textureRect</key>
                <string>{{1594,628},{410,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,456}</string>
                <key>spriteSourceSize</key>
                <string>{460,456}</string>
                <key>textureRect</key>
                <string>{{507,973},{460,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,114}</string>
                <key>spriteSourceSize</key>
                <string>{182,114}</string>
                <key>textureRect</key>
                <string>{{1844,1012},{182,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,116}</string>
                <key>spriteSourceSize</key>
                <string>{182,116}</string>
                <key>textureRect</key>
                <string>{{1846,1346},{182,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,166}</string>
                <key>spriteSourceSize</key>
                <string>{220,166}</string>
                <key>textureRect</key>
                <string>{{1807,1611},{220,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>returnCir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,456}</string>
                <key>spriteSourceSize</key>
                <string>{485,456}</string>
                <key>textureRect</key>
                <string>{{1045,1},{463,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skinIconSmile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,252}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1553,1611},{252,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,510}</string>
                <key>spriteSourceSize</key>
                <string>{528,510}</string>
                <key>textureRect</key>
                <string>{{1,1},{528,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,451}</string>
                <key>spriteSourceSize</key>
                <string>{436,451}</string>
                <key>textureRect</key>
                <string>{{969,979},{436,451}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ballatlas.png</string>
            <key>size</key>
            <string>{1998,1864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3329bd9ab83368ba393633e185267e7:8f5444baf6dc63395cdd8d8869339c41:704e877529ad3b95b9a3a127ca77c240$</string>
            <key>textureFileName</key>
            <string>ballatlas.png</string>
        </dict>
    </dict>
</plist>
